
  /*            DESKTOP SIZED SCREENS            */

  .welcomeTitle{
    color: #ffffff;
    font-size: 5vw;
    background-color: #5c8d89;;
    margin-left: 33%;
    width: 33%;
    height: 10%;
    
  }
