
  /*            DESKTOP SIZED SCREENS            */
/*
  .topDiv {
    background: url('assets/largeImageforBackground.jpeg');
    justify-content: center;
    margin: 0;
    height: 100vh;
    object-fit: cover;
    background-repeat: space;

  } */
/* 
Figure out how to have one style sheet for each size viewport. */
